Source: test-dpkg
Section: python
Priority: optional
Maintainer: phongdk <phongdk@phongdk.local>
Build-Depends: python (>= 2.7-3~)
Standards-Version: 3.9.2
X-Python-Version: >= 2.7


Package: test-dpkg
Architecture: all
Section: python
Depends: python-appindicator, ${misc:Depends}, ${python:Depends}
Description: short description
 A long description goes here.
 .
 It can contain multiple paragraphs
